<script src="<%= asset_path 'test.js' %>"></script>
<%= form_with(model: specialist, local: true) do |form| %>
  <% if specialist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(specialist.errors.count, "error") %> prohibited this specialist from being saved:</h2>

      <ul>
      <% specialist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, :value => current_user.first_name, :readonly => true %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, :value => current_user.last_name, :readonly => true %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>
  <button type="button" id="set_map">Ustaw polozenie mapy</button>
  <div style="display:none;">
    <div class="field">
      <%= form.label :coordx %>
      <%= form.text_field :coordx %>
    </div>

    <div class="field">
      <%= form.label :coordy %>
      <%= form.text_field :coordy %>
    </div>
  </div>
  <div class="field">
    <%= form.label :specialty_id %>
    <%= form.select :specialty_id, Specialty.all.order(:name).collect { |b| [ b.name, b.id ] } %> <br/>
  </div>
  <%= form.hidden_field :user_id, :value => current_user.id %>

  <div id="map" style="width:500px;height:500px;max-width:100%; max-height:100%;"></div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
