<div id="specialistID" style="display:none;"><%= @specialist.id %></div>
<div class="moj-detail">
	<div class="info-special">
		<h1><%= @specialist.company_name %></h1>
		<table>
			<tr>
				<td>Adres</td>
				<td><%= @specialist.city %>, <%= @specialist.street %></td>
			</tr>
			<tr>
				<td>Właściciel</td>
				<td><%= @specialist.first_name %> <%= @specialist.last_name %></td>
			</tr>
			<tr>
				<td>Numer telefonu</td>
				<td><%= @specialist.phone %></td>
			</tr>
			<tr>
				<td>Dodatkowe informacje</td>
				<td><%= @specialist.additional_info %></td>
			</tr>
		</table>
  <% if user_signed_in? %>
  <div id="currentUserID" style="display: none;"><%= current_user.id %></div>
  <div class="przycisnik"><%= link_to 'Zmień dane', edit_specialist_path(@specialist.id) %></div>
		</div>
  <div id="reviews">
	<h3 style="margin-bottom: 20px;">Wystawione recenzje</h3>
    <% @specialist.reviews.order('created_at DESC').each do |review| %>
    <div class="review">
		<div class="row" style="padding-left: 15px;">
			  <div class="reviewerName"><%= review.user.full_name %></div>
			  <div class="rating wystawione">
				<div class='star-ratings-sprite'>
				  <span style="width: <%= (review.rating/5.0)*100 %>%" class="star-ratings-sprite-rating"></span>
				</div>
			  </div>
		</div>
      <div class="reviewText"><%= review.text %></div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
