<p id="notice"><%= notice %></p>

<h1>Specialists</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Company name</th>
      <th>City</th>
      <th>Street</th>
      <th>Coordx</th>
      <th>Coordy</th>
      <th>Specialty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @specialists.each do |specialist| %>
      <tr>
        <td><%= specialist.first_name %></td>
        <td><%= specialist.last_name %></td>
        <td><%= specialist.company_name %></td>
        <td><%= specialist.city %></td>
        <td><%= specialist.street %></td>
        <td><%= specialist.coordx %></td>
        <td><%= specialist.coordy %></td>
        <td><%= specialist.specialty_id %></td>
        <td><%= link_to 'Show', specialist %></td>
        <td><%= link_to 'Edit', edit_specialist_path(specialist) %></td>
        <td><%= link_to 'Destroy', specialist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Specialist', new_specialist_path %>
