<div class="container">
<div class="card bg-light">
<div class="card-body  mx-auto" style="min-width: 500px;">
<h1>New Specialist</h1>

<script src="<%= asset_path 'test.js' %>"></script>
<%= form_with(url: create_foreign_specialist_path, local: true) do |form| %>
  <% if specialist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(specialist.errors.count, "error") %> prohibited this specialist from being saved:</h2>

      <ul>
      <% specialist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <div class="tip">Adres e-mail musi należeć do właściciela działalności.
    W razie wykrycia rejestracji cudzej działalności pod własnym adresem e-mail może dojść do zablokowania konta.</div>
    <%= form.label :email %>
    <%= form.email_field :email, :value => current_user.email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :additional_info %>
    <%= form.text_area :additional_info %>
  </div>
  <button type="button" id="set_map">Ustaw polozenie mapy</button>
  <div style="display:none;">
    <div class="field">
      <%= form.label :coordx %>
      <%= form.text_field :coordx %>
    </div>

    <div class="field">
      <%= form.label :coordy %>
      <%= form.text_field :coordy %>
    </div>
  </div>
  <div class="field">
    <%= form.label :specialty_id %>
    <%= form.select :specialty_id, Specialty.all.order(:name).collect { |b| [ b.name, b.id ] } %> <br/>
  </div>
  <%= form.hidden_field :user_id, :value => current_user.id %>

  <div id="map" style="width:500px;height:500px;max-width:100%; max-height:100%;"></div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', specialists_path %>
</div>
</div>
</div>
