<script src="<%= asset_path 'home.js' %>"></script>
<%= form_tag('/specialists/find', method: :get) %>
<% if !user_signed_in? %>
<input id="pac-input" class="controls" type="text" placeholder="Wybierz swoje miejsce zamieszkania"><br/>
<% else %>
<input id="pac-input" class="controls" type="text" placeholder="Wybierz swoje miejsce zamieszkania" value="<%= current_user.city %>, <%= current_user.address %>"><br/>
<% end %>
<%= select_tag "specialty_id", options_for_select(Specialty.all.order(:name).collect { |b| [ b.name, b.id ] }) %> <br/>
<div style="display:none;">
  <%= text_field_tag 'coordx' %>
  <%= text_field_tag 'coordy' %>
</div>
<%= submit_tag 'Znajdź' %>
<br>
<br>
