<h3 class="wiad-podtytul">Wiadomości odebrane</h3>
<div class="message-entry row" style="background-color: rgba(0, 0, 0, 0.5); font-weight: 600;">
	<div class="sender-name wiad-naglowek col-md-3">Nadawca</div>
	<div class="message-topic wiad-naglowek col-md-3">Temat</div>
</div>

<% @messages.each do |message| %>
<% if message.seen == false %>
<% cls = "message-entry unseen" %>
<% else %>
<% cls = "message-entry" %>
<% end %>
<div class="<%=cls%>">
  <a href="/messages/<%=message.id%>" data-remote="true" class="row">
  <div class="sender-name col-md-3"><%= message.sender.full_name %></div>
  <div class="message-topic col-md-3"><%= message.topic %></div>
  <div class="message-short col-md-6"><%= message.short %></div>
  </a>
</div>

<% end %>
