<% @messages.each do |message| %>
<% if message.seen == false %>
<% cls = "message-entry unseen" %>
<% else %>
<% cls = "message-entry" %>
<% end %>
<div class="<%=cls%>">
  <a href="/messages/<%=message.id%>" data-remote="true">
  <div class="sender-name">Od: <%= message.sender.full_name %></div>
  <div class="message-topic">Temat: <%= message.topic %></div>
  <div class="message-short"><%= message.short %></div>
  </a>
</div>

<% end %>
