<script src="<%= asset_path 'myMessages.js' %>"></script>
<h1> Moje wiadomości </h1>
<%= link_to 'Wiadomości odebrane', receivedMessages_path, :remote => true, :id => 'receivedMessages' %>
<%= link_to 'Wiadomości wysłane', sentMessages_path, :remote => true, :id => 'sentMessages' %>
<div id="message-list">
</div>
<div id="loading" style="display:none;">
  <%= image_tag '35.gif' %>
</div>

<% if @redirect == 'send' %>
  <a style="display:none;" data-remote="true" id="redirect" href="/messages/new?receiver_id=<%=@receiver%>"></a>
<% end %>
<% if @redirect == 'notification' %>
  <a style="display:none;" data-remote="true" id="redirect" href="/receivedMessages"></a>
<% end %>
