<!DOCTYPE html>
<html>
  <head>
    <title>Specjalisci</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKPuh8-kwv_GlCpi6WLafJpS5VpAzmkzc&libraries=places"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="topBar"><% if user_signed_in? %>
      <div id="currentUser">Zalogowany jako <%= current_user.first_name %> <%= current_user.last_name %></div>
      <%= link_to 'Wyloguj', destroy_user_session_path, method: :delete %>
      <% if current_user.specialist == nil %>
      <%= link_to 'Zareklamuj swoją działalność', new_specialist_path %>
      <% end %>
      <% else %>
      <%= link_to 'Zarejestruj', new_user_registration_path %>
      <%= link_to 'Zaloguj', new_user_session_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
